html
  head
    title= title
  body
    form(method='get')
        select(name='dropDown', id='')
            each location in Locations
                option(value=location.site_id)=location.location
            input(type='submit', value='Go')
    h1= source
    p Water Temp: #{water_temp} °C
    p Air Temp: #{air_temp} °F
    p Weather: #{weather}
